/* DROPDOWN Menus */



.dropdown-container{
    display: block;
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute; 
    left: 5px; 
    
    
}


.dropdown-container:hover .dropdown-menu{
    display: block;
    z-index: 1;
    
}


.dropdown-menu-item{
    font-size: 12px;
    /* padding: 8px 15px;  */
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    border: 1px solid #d3d6dc;
    border-bottom: 0px;
    box-shadow: 1px 1px  #9ea2ad;
    color: #9ea2ad;
    height: 42px;
    width: 94px; 

}

.dropdown-menu:last-child {
    border-bottom: 1px solid #d3d6dc;
    border-radius: 5px;
}

.dropdown-menu-item:hover{
    color:black;
    cursor: default;
    
}


/* temporary button for user dropdown until prof pics added */
.temp-dropdown-banner{
    font-size: 16px;
    padding: 10px 23px; 
    margin: 5px 4px;
    display: inline-block; 
    border-radius: 2px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: lightgrey;
    cursor: default;
}