
.new-workout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto;
    font-family: Armour, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 938px;
    margin-top: 30px;

    textarea{
        border:none;
        font-family: Armour, "Helvetica Neue", Helvetica, Arial, sans-serif;;
    }

    button{
        background-color:rgb(0, 118, 192);
        height: 44px;
        font-size: 16px;
        font-weight: 550;
        color: white;
        padding: 12px 15px; 
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover{
        background-color: #0168a8;

    }
}

    .new-workout header {
        display: flex;
        align-items: flex-start;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(217, 217, 217);
        margin-bottom: 20px;
    }

        .new-workout h1 {
            font-size: 30px;
            font-weight: 500;
        }

    .new-workout section {
        border: 1px solid rgb(217, 217, 217);
        background-color: rgba(211, 214, 220, 0.2);
        box-sizing: border-box;
        padding: 20px;
        padding-right: 32px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        width: 633px;
        margin-bottom: 20px;
    }

        .name-date {
            display: flex;
            justify-content: space-between;
        }

        .time-duration{
            display: flex;
            justify-content: space-between;;
        }

        .input-field{
            font-size: 14px;
            margin-bottom: 20px;

            input{
                font-size: 14px;
                padding: 12px 16px;
                border: 1px solid rgb(217, 217, 217);
                height: 44px;
                box-sizing: border-box;
            }
            
            h2 {
                margin-bottom: 10px;
                font-weight: 550;
            }

            span.error-message:nth-child(2) {
                display: none;
            }
        
        }
    
        .input-field.workout-date{
                // margin-left: 58px;

                input{
                    width: 237px; 
                }
        }
            
        .input-field.workout-name input{
                width: 288px;
        }

        .input-field.workout-activity {
            width: 633px;
            box-sizing: border-box;
        }

        .input-field.workout-route{
            width: 633px;
        }

        .input-field.workout-time{
            input{
                width: 250px;
            }
        }

        .input-field.workout-duration{
            // margin-left: 177px;
            input{
                width: 85px;
            }
        }



.workout-dropdown {
    width: 100%;
    font-size: 14px;
    padding: 14px 16px 12px;
    color: black;
    cursor: pointer;

    option{
        color: black;
    }
}

.save-workout{
    width: 187px;
}

