/* Splash Page
    
    Classes:
        .splash-page: overall container
        .splash-background: selects a main background (combine with it's number class)
        .splash-header: Text inside of a background image
*/

.splash-page{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 2px;
    align-items: center;
}
.splash-background.one{
    display: block;
    background-image: linear-gradient(to right, rgba(249,249,249,0.0), rgba(0,255,231,0.6)), url(asset_path("splash-1.jpg"));
    background-size: cover; 
    background-position: center;
    height: 560px ;
    width: 1175px; 
    position: relative;
}

.splash-background.one::after{
    content: "";
    display: block;
    height: 30%;
    position: absolute;
    bottom: -100px;
    transform: rotate(-5deg);
    background-color: white;
    right: -10px;
    width: 110%;

}

.splash-header {
    position: absolute;
    right: 69px;
    top: 18px;
    display: flex;
    
    align-items: flex-end;
    font-family: "Heebo",sans-serif;
    flex-direction: column;
    
    color: white;
}

.splash-header h1{
    font-size: 36px;
    font-weight: 1000;
    margin: 30px 0px; 
}

.splash-header hr {
    display: block;
    width: 35%;
    height: 5px;
    background-color: white;
    margin-left: 65%;
}

.splash-header p{
    margin: 10px 0px;
    width: 40%;
    text-align: end;
    font-weight: 600;
    margin-top: 150px;
}

.sign-up{
    background-color: #16D374;
    height: 20px; 
    box-sizing: border-box;
    height: 44px;
    font-size: 16px; 
    padding: 12px 22px; 
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 2px;
    font-family: sans-serif;
    font-weight: bold;
    color: whitesmoke; 
}