/* CSS for the Login and Signup components */

.session-form-container{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 500px; 
    justify-content: center;

}

.session-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
    /* background-color: green; */
    
}



.session-form-input {
    font-size: 14px;
    padding: 10px 20px ;
    margin: 10px 0px ;
    border: 1px solid lightgrey;
    background-color: inherit;
    width: 30%;
    height: 25px; 
}

.session-form-input:focus{
     border: 1px solid blue;
     background-color: rgb(255, 255, 255);
  
}

.submit {
    background-color: #16D374;
    height: 20px; 
    box-sizing: content-box;
    
    font-size: 16px;
    width: 30%; 
    padding: 12px 22px; 
    margin: 10px;
    display: inline-block; 
    border-radius: 2px;
    font-family: sans-serif;
    font-weight: bold;
    color: whitesmoke; 
}

.submit:hover {
    background-color: #14a05a;
}

.session-form-nav {
    position: absolute; 
    color: gray;
    justify-self: flex-end;
    top:-15px;
    right: 34%;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
   
}

.error-message {
    font-size: 12px;
    color: red; 
    font-family: sans-serif;
}

.form-divider {
   display: flex; 
   align-items: center;
   justify-content: center;
   width: 30%;
    margin: 0px;
}

.divider-line {
    display: block;
    height: 1px;
    border-bottom: 1px solid #C8C7CC;
    width: 200px; 
   
}

.or-text{
    font-size: 12px;
    color: rgb(146, 151, 163);
    font-family: 'Armour-Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;;

}

.guest-user-button {
      background-color: #3b5998;
    height: 20px; 
    box-sizing: content-box;
    
    font-size: 16px;
    width: 30%; 
    padding: 12px 22px; 
    margin: 10px;
    display: inline-block; 
    border-radius: 2px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.guest-user-button:hover {
    background-color: #26468b;
}


