
.show-route-container{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 1100px; 
}

/* Buttons above map */
    .route-actions{
        display: flex;
        margin: 10px 0px; 
    }

    .route-actions a{
        padding: 6px 12px;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        border:1px solid rgb(223, 223, 232);
        border-radius: 5px;
        font-weight: 600;
    }

    .route-actions a:hover{
        cursor: pointer;
        background-color: #f0f0f5;
    }

/* Contains route map and sidebar, horizonal*/
    .route-container{
        display: flex;
        flex-direction: row; 
        width: 100%;
    }



    .show-map-container{
        display: flex;
        width: 800px;
        height: 400px;
        position: relative;
        border-radius: 5px;
        border: 1px solid whitesmoke;
    }



    /* map itself */
    #map.show-map{
        height: 100%;
        overflow: hidden;
        border-radius: inherit;

    }


    #directions{
        display: block;
        overflow-y: scroll;
    }

    .directions-panel {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    height: 100%;
    width: 350px;
    /* top: 0px;
    right: 0px;
   */
}


.route-show .banner{
    display: flex;
    justify-content: left;
    align-items: baseline;
    width:100%; 
    padding: 10px 0px; 
    
}

.banner h1{
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 600;
    margin: 0px 30px 0px 5px;
    /* font-family: MaisonNeue, "Segoe UI", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

.route-info-sidebar{
    width: 300px;

}



/* table name in google directions
its tr 's contain the steps */
.adp-directions tr{
    border-radius: 5px;
}

