
.show-route-container{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 1100px; 
}

.route-container{
    display: flex;
    flex-direction: row; 
    width: 100%;
}

.route-container{

}

.show-map-container{
    display: flex;
    width: 800px;
    height: 400px;
    position: relative;
}

.directions-button{
    position: absolute;
    top: -20px;
    right: 0px;
}

#map.show-map{
    height: 100%;
    overflow: hidden;
    border-radius: inherit;

}

section.show-map-container {
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

#directions{
    display: block;
    overflow-y: scroll;
}


.route-show .banner{
    display: flex;
    justify-content: left;
    align-items: baseline;
    width:100%; 
    padding: 10px 0px; 
    
}

.banner h1{
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 600;
    margin: 0px 30px 0px 5px;
    /* font-family: MaisonNeue, "Segoe UI", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

.route-info-sidebar{
    width: 300px;

}

.directions-panel {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    height: 100%;
    width: 300px;
    /* top: 0px;
    right: 0px;
   */
}
/* table name in google directions
its tr 's contain the steps */
.adp-directions tr{
    border-radius: 5px;
}

